# Quartus Prime build artifacts
db/
incremental_db/
output_files/
simulation/
greybox_tmp/
*.rdb
*.cdb
*.hdb
*.idb
*.logdb
*.ddb
*.kpt
*.qmsg
*.rpt
*.summary
*.smsg
*.hsd
*.hif
*.mod
*.done
*.dpi
*.dfp
*.cdf
*.jdi
*.sld
*.sig
*.sft
*.rcfdb
*.tdb
*.xrf
*.tmw_info
*.hier_info
*.hb_info
*.db_info
*.pof
*.sof
*.vo
*.qws
*.bak
*.flock
board/
timing/
*.ibs
*.data
